* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Shared Styles*/

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/*Header Styles*/
/*navbar styles*/

nav {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}