* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Shared Styles*/

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    color: white;
    cursor:pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}
.text-center{
    text-align: center;
}
.common-green{
    color: #30B868;
}
.container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
button:hover{
    background-color: #001931;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.reminder button:hover{
    background-color: white;
    box-shadow: none;
}

/*Header Styles*/

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*navbar styles*/

nav{
    display: flex;
    gap: 346px;
    justify-content: space-around;
    align-items: center;
    padding: 16px 120px;
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color:black;
    font-size: 16px;
    font-weight: 500;
}
.early-access button{
    padding: 12px 16px;
}

/*Hero Section Styles*/

#hero{
    flex: 1;    /*I wanted the hero section to fill the remaining viewport after the navbar.*/
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 120px 134px;
}
#hero .reminder button{
    background-color: white;
    color: #469165;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
}
#hero .reminder button i{
    opacity: 0.7;
}
#hero h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin: 16px 295px;
    color: white;
}
#hero .hero-text{
    margin: 0 295px 32px;
}
#hero .hero-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    padding: 8px 0;
}
#hero .buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
#hero .buttons button{
    padding: 16px;
}
.green-btn{
    display: flex;
    gap: 8px;
}
.clear-btn{
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor:pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

/*Main Section Styles*/
/*Cards Section Styles*/

#card-section{
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 60px;
}
#card-section .card-info h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
#card-section .card-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.card-section{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 44px;
}
.card-section .cards{
    background-color: white;
    border-radius: 8px;
    padding: 68px 22px 22px 22px;
    width: 100%;
    max-width: 322px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 6%);
}
.card-section img{
    background-color: #F95555;
    border-radius: 100px;
    padding: 12px;
    margin-bottom: 16px;
}
.card-section h2{
    font-size: 24px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.card-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

/*Solution Section Styles*/

#solution-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.solution-info h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
.solution-info h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.solution-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.solution-info ul{
    list-style: none;
    margin-left: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}
.solution-info ul li{
    padding-bottom: 16px;
}
.solution-info ul li img{
    vertical-align: middle;
}

/*Challenge Section Styles*/

#challenge-section .challenge-info{
    border-radius: 12px;
    background-color: #F7F6F2;
    padding: 80px 40px;
    margin-bottom: 120px;
}
.challenge-info h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.challenge-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.challenge-info button{
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 15%);
}

/*Footer Section Styles*/
footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    margin-bottom: 16px;
}
.footer-content a{
    text-decoration: none;
    background-color: white;
    border-radius: 1000px;
    padding: 4px;
    margin-right: 4px;
}
footer hr{
    display: block;
    margin-top: 80px;
    opacity: 20%;
}
footer p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
    margin-top: 30px;
}